# Database
DATABASE_URL="postgresql://orb:password@localhost:5432/orb"

# Better Auth
BETTER_AUTH_SECRET="73836949f719092296f3fb13cab97284fad38e36a2a15fddc8fcc7acfc6aea0d"
BETTER_AUTH_URL="https://orb.tanmaymirgal.dev"

# Redis
REDIS_HOST="localhost"
REDIS_PORT=6379

# MinIO
MINIO_ENDPOINT="localhost"
MINIO_PORT=9000
MINIO_ACCESS_KEY="admin"
MINIO_SECRET_KEY="password123"
MINIO_USE_SSL=false

# Socket.io
NEXT_PUBLIC_SOCKET_URL="https://orb.tanmaymirgal.dev"
NEXT_PUBLIC_APP_URL="https://orb.tanmaymirgal.dev"
# GitHub App (For Repository Access)
GITHUB_APP_ID="4256903"
GITHUB_APP_PRIVATE_KEY="
MIIEogIBAAKCAQEA22oIgO03lNYBP51uJhkZZIJrKm/5H0OCIlBYxdSxFMgbCWXr
080yoWOkD2vXx6u9tttepJsKYw0IbF++WYnpvkOVdE6O6tETsZKEZwYTdun79vF4
jmERzSpOJeuzEXH5fgoKsB09BbRlNGAzMqmAbMAfPhTrk2OkHhyv+CTd/Vwvv634
NT9uvtwH2tD6l0Pmbc14/nQI14YIaHM2TDWiXVNtoIoLXLR3aABUyEdUbx85SMc/
RyRk6n/xF2Lx8MqmhWLi7nWezQQyHBKz2um+cOVEFnDk09lDCDFjvkm20i5W3VuU
fVaxPwqCSRS7Zjhlku6v8Q/XecuBcadOAnRltwIDAQABAoIBAHZv1gdCBS6iFipw
oHSQN9S5UX+m0aK+nhBHrqObG7tMCMwZ6CJ8MUhMsNJiNCfj3JRH9d6EkibFcjaN
uAI9H59Ee/g8L4kxMqA3pqC19uvJgejaj2jLnQBSRbzSbeaMz0/pu7s1DSt3JOoQ
w5IlTN1nF3Y7dK4qqvxWH+aif/GyQVvmWX50vZqx+zoVJPBPCOzRhYRwxf05imKk
EtC5baq6MKJ4vzBDuLNyerOfbUkZWso3i9XBhqjSMx576X/RgDzKrVT67AKjTIGZ
+AFdienbngaLIrS1zsCoJUZJogkorGX7avlc5WQj12nMZzt2mm+dkFgMJazIyD/s
DxAYMwECgYEA89wS3g2ZGiqPBrp74T2xkG5y4iA0ymJOOjkFc3P/Xiq5lQyZ2RQv
C3oKMAY167UlxVgx7UKqzeg+Lj/xXnt0qR6wiplmEMQhNEL1W1GYZy9vBaFdmR9B
m/ESKXbcSNwlgLVWuLkF4+vKvsiq+irJXW+s5VOWqfqnmnaGMU97gLkCgYEA5lZo
lLxyI9aIW+4UREQ9DTLrEl4HIPKAHaQmoTt3dv9AYMPOJMl7+micxWxQY6+fHNgF
H+b4DX9bJbd+fHK1gwdxUQpR5G2CM6cMfM+PFpglBZdlquGv057jNU/FmOWhodTU
ONK7VT+6/aSCpBz/fQkIIYdiRNINoprhjbuage8CgYBP5l6kNO5iHWmpebaXMWCZ
gybPImBJo3YgK4i2sF4Om48c3/kUoEFd0EnAPHi0VzEd/Oy24W4Xcy3Ud4z9ORQb
SXvsnaBMhAahGgNMPWri/C6zOJDzV8NmddFOlqxMjx0Wk9PrSGw+poZShmtG9nft
zmZm6UFnRkJeINGNHI7JuQKBgEN/jNQRSQ1xf7IY2X2L1aw5gKN4RHSGO77z7JIR
ABgyAqaYmp8zIA6oe1BrRj+AJotoTlAj+grSiF5MIFfNsZ09IBrUgF0FLkN+r20f
0dmYKjkyPYvO6RyFkiV8Q/ZjTHNFEA+6yUTZES3k+JepG8GDVQumRcjPGUnOQ0yq
bkOnAoGABgkAlraCY3AuR2vul/dvJoP0AcHDHtO+sRf2d7oDAU4tBojIF3gWqJc5
C0/D4c10CEiBIneIvb0WLAI3F89GOmYXwsrHoG7cWbwxh1kF4zF1DOb/YvoO3qQy
eJ9H7Q3BQoslemMEJAyztmuPjObTNG2+x7+Tnv0RZQsFHl28m14="

GITHUB_APP_WEBHOOK_SECRET="your_webhook_secret"
GITHUB_APP_INSTALLATION_URL="https://github.com/apps/orb-deployment"


GITHUB_CLIENT_ID="Iv23lirCa0mqdNOdC8aD"
GITHUB_CLIENT_SECRET="eb81a4100a4ac76918d0571f25b271e5bed59a2b"

ENCRYPTION_KEY="d1c728df9c58d56aaf18c1db164866433465042141514005e6d487d1da001878"

BASE_DOMAIN="localhost"

MAX_MEMORY=768m
MAX_MEMORY_SWAP=3g
MAX_CPU=1.0

BUILD_NODE_OPTIONS=--max-old-space-size=512

WORKER_CONCURRENCY=1

RUNNER_MEMORY=384m
RUNNER_MEMORY_SWAP=768m
RUNNER_MAX_INSTANCES=3
RUNNER_IDLE_TIMEOUT_MS=900000