{
    on_demand_tls {
        permission http http://127.0.0.1:8000/_caddy/allow
    }
}

# The main dashboard
orb.tanmaymirgal.dev {
    reverse_proxy localhost:3000
}

# Deployed Projects (Dynamic subdomains)
*.orb.tanmaymirgal.dev {
    tls {
        on_demand
    }
    reverse_proxy localhost:8000
}
